################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.config
*.manifest
*.xml
*.application
*.cache
*.resources
*.txt
*.suo
*.user
*.snk
*.pfx
/obj
/publish
/bin/Debug
/bin/Release/IOUDownloader.vshost.exe
*.crt
*.inf
*.p7b
*.csr
/dosign.bat
