################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/IOUDownloader.v12.suo
/IOUDownloader.vbproj.user
/publish
/bin/Debug
/bin/Release/IOUDownloader.application
/bin/Release/IOUDownloader.exe.manifest
/bin/Release/IOUDownloader.vshost.application
/bin/Release/IOUDownloader.vshost.exe
/bin/Release/IOUDownloader.xml
/bin/Release/itextsharp.xml
/bin/Release/IOUDownloader.vshost.exe.manifest
/IOUDownloader_TemporaryKey.pfx
/Temporary.snk
/bin/Release/IOUDownloader.exe.config
/bin/Release/IOUDownloader.vshost.exe.config
/bin/Release/Microsoft.Threading.Tasks.xml
/bin/Release/System.IO.xml
/bin/Release/Microsoft.Threading.Tasks.Extensions.Desktop.xml
/bin/Release/Microsoft.Threading.Tasks.Extensions.xml
/bin/Release/System.Runtime.xml
/bin/Release/System.Threading.Tasks.xml
